{% extends 'base.html' %}
{% load static %}

{% block title%}My BIM Model {% endblock title %}

{% block custom_style %} 
       <link rel="stylesheet" href="{% static 'css/home.css'%}">
{% endblock custom_style %}

{% block viewer %}
<script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.169.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.169.0/examples/jsm/"
      }
    }
  </script>
{% endblock viewer %}


{% block content %}
   
    <div class="container">
        <header class="header-title"><h2>Modelo BIM de Casa</h2></header>
        <main id="canvas-container">
            <div id="moveGui"></div>
        </main>
        <div class="analytics"></div>

    </div>

    <script  language="javascript">
        let model = "{% static '3Dmodels/' %}{{ file|safe }}.glb";
        let modelData = '{{ model_objects|safe }}'
        let objectTypes = "{{ object_types|safe}}"
        
    </script>
    <script type="module" src={% static 'js/main.js' %}></script>
{% endblock content %}